body{
  background-color: blue;
}


.heading{
  text-align: center;
text-decoration: solid;
  color: crimson;
  animation-name: deepak;
  animation-duration: 4s;
  rotate: 5deg;
}

.avatar{
border-radius: 50;
}

@keyframes deepak {
  from {background-color: burlywood;}
  to {background-color: aqua;}
}





